body {
    background-color: black;
}
#countlabel {
    display: block;
    color: hsl(0, 100%, 50%);
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
}
.btns {
    color: hsl(0, 0%, 100%);
    background-color: hsl(43, 74%, 49%);
    border-radius: 20px;
    padding: 15px;
    font-size: 1.25em;
    cursor: pointer;
    transition: background-color 0.5;
}
.btnscontainer {
    text-align: center;
}
.btns:hover {
    background-color: hsl(0, 100%, 50%);
}
.countdown {
    margin-top: 200px;
}
@media screen and (max-width:600px) {
    .countdown{
        width: 100%;
    }
}